.bill-summary {
    margin-top: 20px;
    color: black !important;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .head-th,
  .head-td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 1.7rem;
  }
  
  .head-th {
    text-align: left;
    font-weight: bold;
    font-size: 1.9rem;
  }
  
  .total-bill {
    margin-top: 10px;
    font-size: 2rem;
  }
  .username, .date{
    font-size: 1.4rem;
  }